.hero-div {
    position: relative;
    text-align: center;
    display: flex;
    justify-content: center;
    background: black;
    overflow: hidden;
}

.hero-text {
    position: absolute;
    align-self: center;
    z-index: 2;
    color: whitesmoke;
    margin-top: -25%;
}

.hero-text h1 {
    font-weight: bold;
    animation: fadeIn ease 4s;
    -webkit-animation: fadeIn ease 4s;
    -moz-animation: fadeIn ease 4s;
    -o-animation: fadeIn ease 4s;
    -ms-animation: fadeIn ease 4s;
}

.hero-text h6 {
    font-weight: bold;
    animation: fadeIn ease 12s;
    -webkit-animation: fadeIn ease 12s;
    -moz-animation: fadeIn ease 12s;
    -o-animation: fadeIn ease 12s;
    -ms-animation: fadeIn ease 12s;
}

#hero {
    object-fit: cover;
    opacity: 0.4;
}

#info-row {
    display: flex;
    justify-content: center;
    flex-direction: column;
}


/* Animation */
@keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-moz-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-webkit-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-o-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-ms-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
  }